<div class="columns">
  <div class="column is-6">
    <h1 class="is-size-4">Editing Task</h1>

    <%= render 'form', task: @task %>

    <%= link_to 'Show', @task %> |
    <%= link_to 'Back', tasks_path %>
  </div>
</div>



<!--<div class="columns">-->
<!--  <div class="column is-6">-->
<!--    <h1 class="is-size-4">Новая задача</h1>-->

    <%#= render 'form' %>

    <%#= link_to 'Back', tasks_path %>
<!--  </div>-->
<!--</div>-->
