<div class="indent-up">
  <%= render partial: 'tasks/task' %>
</div>

<div class="indent-up">
  <h1 class="is-size-2">Создать новую задачу</h1>
  <%= link_to 'Новая задача', new_task_path, class: 'button is-primary' %>
</div>

<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th><abbr title="Number">Num</abbr></th>-->
<!--    <th>Author</th>-->
<!--    <th>Title</th>-->
<!--    <th>Description</th>-->
<!--    <th>Date of completion</th>-->
<!--  </tr>-->
<!--  </thead>-->
  <%# @tasks.each do |t| %>
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th><%#= link_to t.id, task_path(t) %></th>-->
<!--      <th><%#= t.user.name %></th>-->
<!--      <th><%#= t.title %></th>-->
<!--      <th><%#= t.description %></th>-->
<!--      <th><%#= t.datetime.strftime('%d-%m-%Y') %></th>-->
<!--    </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->
