
<h1 class="is-size-2">Задачи</h1>

<%= link_to 'Новая задача', new_task_path, class: 'button is-primary' %>


<table class="table">
  <thead>
  <tr>
    <th><abbr title="Number">Num</abbr></th>
    <th>Author</th>
    <th>Title</th>
  </tr>
  </thead>
  <% @tasks.each do |t| %>
  <tbody>
    <tr>
      <th><%= t.id %></th>
      <th><%= t.user.name %></th>
      <th><%= t.title %></th>
    </tr>
    <% end %>
  </tbody>
</table>
