<div class="columns">
  <div class="column is-6">
    <h1 class="is-size-4">Редактирование профиля</h1>

    <%= render 'form', user: @user %>

    <%#= link_to 'Show', @user %>
    <%#= link_to 'Back', users_path %>
  </div>
</div>
