<div class="has-text-centered is-size-2">
  <h1><%= @user.name %></h1>

  <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'button is-primary' %>
  <!--<%#= link_to 'Back', users_path %> # хз потом!!!-->

  <div class="">
    <div class="">
      <% if @user.tasks.any? %>
        <h3>Создал:</h3>
        <div class="">
          <%= render partial: 'tasks/tasks' %>
        </div>
      <% else %>
        <p class="">User has not created any posts yet</p>
      <% end %>
    </div>
  </div>
</div>
